.project-item {
    height: 400px;
    width: 340px;
    margin: 10px 10px;
    border-radius: 10px;
    cursor: pointer;

    &__add-new-project-wrapper {
        background-color: gray;
        display: flex;
        overflow: hidden;
        align-items: center;
        border: 2px dashed green;
    }

    &__add-new-project {
        width: 100%;
        height: 50%;
        margin: 0px 30px;
        background-color: aliceblue;
    }

    &__wrapper-content {
        position: absolute;
        display: flex;
        width: 100%;
        height: 60%;
        background-color: aliceblue;
        bottom: 0;
        flex-direction: column;
    }

    &__content {
        padding: 0 15px 10px 15px;
        overflow: auto;
        margin-bottom: 10px;
    }
}

.content-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.page-wrapper {
    padding-left: 0;
    padding-right: 0;
    margin-left: initial;
    margin-right: initial;
}

.task-modal-wrapper {
    height: 95%;
}

.task-modal {
    height: 100%;
    display: flex;
}

.task-modal-inner {
    overflow: auto;
    
    &__left {
        width: 60%;
    }
    &__right {
        width: 40%;
    }
}