.project-item {
    height: 181px;
    width: 400px;
    margin: 10px 10px;
    border-radius: 10px;
    background-color: #653fc43f;
    cursor: pointer;

    &__add-new-project-wrapper {
        background-color: green;
        display: flex;
        overflow: hidden;
        align-items: center;
        border: 2px dashed green;
    }

    &__add-new-project {
        width: 100%;
        height: 50%;
        margin: 0px 30px;
        background-color: aliceblue;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        font-weight: 600;
    }

    &__wrapper-content {
        position: absolute;
        display: flex;
        width: 100%;
        height: 100%;
        bottom: 0;
        border-radius: 10px;
        flex-direction: column;
    }

    &__content {
        padding: 0 15px 10px 15px;
        overflow: auto;
        margin-bottom: 10px;
    }
}

.content-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.page-wrapper {
    padding-left: 0;
    padding-right: 0;
    margin-left: initial;
    margin-right: initial;
}

.task-modal-wrapper {
    height: 95%;
    padding: 35px;
    border: 2px solid #d3d3d3;
}

.task-modal {
    height: 100%;
    display: flex;
}

.task-modal-inner {
    overflow: auto;
    
    &__left {
        width: 65%;
        margin: 0 10px 0 0;
        &__description {
            width: 100%;
            margin-top: 10px;
        }
        &__progress {
            width: 100%;
            display: flex;
            align-items: center;
            margin-top: 10px;
        }
    }
    &__right {
        width: 35%;
        padding: 0 10px;
    }
}

.status-bar {
    height: 30px;
    width: 155px;
    padding: 17px;
    display: flex;
    background-color: antiquewhite;
    border-radius: 3px;
    // border: 1px solid white;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
};

.wrapper {
    display: flex;
}

.check-box {
    border: 2px solid green;
    margin: 0 5px 0 15px;
    width: 27px;
    color: aliceblue;
    border-radius: 3px;
    display: flex;
    align-items: center;
    cursor: pointer;
    &__svg {
        padding: 10px;
        color: green;
    }
}

.assign-users {
    margin: 0 10px;
}

.assign-user {
    width: 34px;
    height: 34px;
    display: flex;
    cursor: pointer;
    border-radius: 50px;
    &__new {
        z-index: 100;
        position: absolute;
        top: 20px;
        border: dashed 1px rgb(170, 154, 154);
        margin: 0 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        &__inner {
            width: 75%;
            height: 75%;
            padding-left: 3px;
        }
    }
    &__existed {
        position: absolute;
        z-index: 200;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 7px;
        border: 1px solid white;
        &__inner-text {
            width: 100%;
            height: 50%;
            font-size: 10px;
            font-weight: 600;
            padding-top: 1px;
        }
        &__item-1 {
            margin: 0px;
            padding-left: 7px;
        }
        &__item-2 {
            margin: 0 25px;
            padding-left: 10px;
        }
        &__item-3 {
            margin: 0 50px;
            padding-left: 11px;
        }
    }
}

.header-wrapper {
    width: 80vw;
    display: flex;
    justify-content: space-between;
}

.left-header-section {
    display: flex;
}

.created {
    margin: 0;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: .2px;
    margin: 0;
    text-transform: uppercase;
    &__date {
        margin: 0;
        font-size: 11px;
        font-weight: 400;
    }
}

.full-width {
    width: 100%;
    height: 36px;
    margin: 0 0 0 10px;
}

.pr-page-wrapper {
    color: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.login-page {
    display: flex;
    justify-content: space-between;
}